In [2]:
import pandas as pd

# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr = [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Create dictionary for DataFrame
my_dict = {
    'country': names,
    'drives_right': dr,
    'cars_per_cap': cpc
}

# Create DataFrame
cars = pd.DataFrame(my_dict)

# Show DataFrame (in Jupyter this renders nicely)
cars

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [3]:
# Another example with a dictionary
dict_data = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.516, 17.10, 3.286, 9.597, 1.221],
    "population": [200.4, 143.5, 1252, 1357, 52.98]
}

brics = pd.DataFrame(dict_data)
brics.index = ["BR", "RU", "IN", "CH", "SA"]

brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [4]:
# Reading from CSV (make sure brics.csv is in your working directory)
brics = pd.read_csv("brics.csv", index_col=0)
brics

                capital    area  population
country
Brazil         Brasilia   8.516      200.40
Russia           Moscow  17.100      143.50
India         New Dilhi   3.286     1252.00
China           Beijing   9.597     1357.00
South Africa   Pretoria   1.221       52.98