In [3]:
import pandas as pd

# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr = [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Create dictionary for DataFrame
my_dict = {
    'country': names,
    'drives_right': dr,
    'cars_per_cap': cpc
}

# Create DataFrame
cars = pd.DataFrame(my_dict)
cars

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [29]:
# Another example with a dictionary
dict_data = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.516, 17.10, 3.286, 9.597, 1.221],
    "population": [200.4, 143.5, 1252, 1357, 52.98]
}

brics = pd.DataFrame(dict_data)
brics.index = ["BR", "RU", "IN", "CH", "SA"]

brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [14]:
# Reading from CSV (make sure brics.csv is in your working directory)
brics = pd.read_csv("brics.csv", index_col=0)
brics.index = ["BR", "RU", "IN", "CH", "SA"]

brics

      capital    area  population
BR   Brasilia   8.516      200.40
RU     Moscow  17.100      143.50
IN  New Dilhi   3.286     1252.00
CH    Beijing   9.597     1357.00
SA   Pretoria   1.221       52.98

In [28]:
# Part 2
#Index and select data - square brackets , advanced methods : loc,iloc

#Column Access
import pandas as pd

# Load the CSV without setting any index column
brics = pd.read_csv("brics.csv")
brics.index = ["BR", "RU", "IN", "CH", "SA"]

brics["country"]

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [29]:
type(brics["country"]) # 1D labelled array

pandas.core.series.Series

In [30]:
brics[["country"]]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [31]:
type(brics[["country"]])

pandas.core.frame.DataFrame

In [32]:
brics[["country","capital"]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Dilhi
CH         China    Beijing
SA  South Africa   Pretoria

In [33]:
brics[1:4] # Limited Functionality

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Dilhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

# 2D NumPy arrays
## my_array[rows,columns]
## pandas : loc - (Row Access - label bases) , iloc - (integer position-based)

In [34]:
row = brics[brics["country"] == "India"]
print(row)

   country    capital   area  population
IN   India  New Dilhi  3.286      1252.0

In [35]:
brics.loc[["RU","IN"]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Dilhi   3.286      1252.0

In [36]:
brics.loc[["RU","IN","CH"],["country","capital"]]

   country    capital
RU  Russia     Moscow
IN   India  New Dilhi
CH   China    Beijing

In [38]:
brics.loc[:,["country","capital"]]
#column access brics[["country","capital"]]
#Row access brics[1:4]
# loc ( label based): Row access , column access , row & column access

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Dilhi
CH         China    Beijing
SA  South Africa   Pretoria

In [39]:
# Row Access iloc
brics.loc[["RU"]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [40]:
brics.iloc[[1]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [41]:
brics.iloc[[1,2,3]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Dilhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [42]:
brics.iloc[[1,2,3],[0,1]]

   country    capital
RU  Russia     Moscow
IN   India  New Dilhi
CH   China    Beijing

In [43]:
brics.iloc[:,[0,1]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Dilhi
CH         China    Beijing
SA  South Africa   Pretoria